.container-fluid {
  color: aliceblue;
}

.poster {
  width: 300px;
}
.table > tbody > tr > * {
  vertical-align: middle;
}

@keyframes animate {
  0% {
    background-position-x: 0rem;
  }

  100% {
    background-position-x: 100rem;
  }
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(#f1c40f, #f39c12);
}

section {
  min-height: 100vh;
  padding: 1vh 7%;
  padding-top: 1vh;
  height: 110vh;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url(/img/circle-blues.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url(/img/circle-blues.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.home h1 {
  font-size: 5vw;
  color: rgb(255, 255, 255);
}
.member h1 {
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.home p {
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vh 0;
  width: 50rem;
}
.member p {
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vh 0;
  width: 50rem;
}

.member ul {
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vh 0;
  width: 50rem;
}
.home h1:hover {
  color: #f39c12;
}
.home p:hover {
  color: #f39c12;
}

/*
.home .shape {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  height: 15rem;
  width: 100%;
  background: url(/img/shape.png);
  block-size: 5rem;
  filter: drop-shadow(0 -0.1rem 0.1rem rgba(0, 0, 0, 0.2));
  animation: animate 10s linear infinite;
}*/

@keyframes animate {
  0% {
    background-position-x: 0rem;
  }

  100% {
    background-position-x: 100rem;
  }
}

/* Member */
.Member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  background-attachment: scroll;
  background-size: cover;
}
.Member img {
  float: left;
  width: 25%;
  height: auto;
}

.Member .content {
  flex: 1 1 40rem;
  padding-left: 5%;
}

.Member .content h3 {
  font-size: 3vw;
  color: rgb(255, 255, 255);
}
.Member .content h3:hover {
  color: #f39c12;
}

.Member .content p {
  font-size: 1.8vw;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  text-align: justify;
}

.Member .content p:hover {
  color: #f39c12;
}
/* IDEAS 
 */

.Ide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #d48910fb;
  background-attachment: scroll;
  background-size: cover;
}
.Ide img {
  float: right;
  width: 25%;
  height: auto;
}

.Ide .content {
  flex: 1 1 40rem;
  padding-right: 5%;
  text-align: right;
}

.Ide .content h3 {
  font-size: 3vw;
  color: rgb(255, 255, 255);
  text-align: right;
}
.Ide .content h3:hover {
  color: #800080;
}

.Ide .content p {
  font-size: 1.8vw;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  text-align: justify;
}

.Ide .content p:hover {
  color: #800080;
}

/** Footer **/

.footer {
  padding: 1vh 1rem;
  font-size: 1vw;
  color: #fff;
  background: #111;
  text-align: center;
  font-weight: normal;
  padding-bottom: 1vh;
}

.footer h3 {
  font-size: 1.5vw;
  color: #fff;
  padding: 0.8rem 0;
}

.footer p {
  font-size: 1vw;
  color: #eee;
  padding: 0.1vh 0;
}

.footer p i {
  padding-right: 1vw;
  color: #f39c12;
}

.footer p:hover {
  text-decoration: underline;
  color: #eee;
}

.footer .credit {
  padding: 2rem 1rem;
  font-size: 1vw;
  color: #fff;
  background: #111;
  text-align: center;
  font-weight: normal;
  padding-bottom: 3vh;
}

.footer .credit a {
  color: #f39c12;
}
